@import '../../assets/fonts';
@import '../../assets/variables/colors.module.scss';
@import '../../assets/variables/mediaQueries.module';

.headerContainer{
    width: 100vw;
    background-color: $color-primary;
    height: 100px; 
    display: flex; 
    justify-content: space-between; 
    flex-direction: row; 
    box-shadow: 1px 5px 17px -4px rgba(0,0,0,0.3); 

     @media screen and (max-width: $screen-sm) {
        flex-direction: column;
    }
}

.headerTitle{
    margin: auto 50px;
    text-align: center;
    font-family: $font-family-bold;
    color: $color-white;
    font-size: $font-size-large;
    font-weight: 900;
}

.headerLink{
    margin: auto 50px;
    font-size: $font-size-medium;
    color: $color-primary-dark;

     @media screen and (max-width: $screen-md) {
        text-align: center;
        font-size: $font-size-small;
        margin-top: 10px;
    }
}